

* {
    font-family:'helvetica neue 65 medium',Arial,sans-serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    width: 100%;
}

.frontpage {
    background-color: #F4F2ee ;
}
   
nav {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    width:100%;
}

.menu {
    display: flex;
    margin: 0.2em;
    padding: 0.3em;
}

li {
    margin-left: 3em;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
}

input {
    height: 2.8em;
    background-color:#e4e5e6;
    border: none;
    border-radius: 8px;
    text-indent: 0.5rem;
    width: 240px;  
    margin: 1em; 
}

.order-input{
    margin: 7px;
    height: 2.5em;
}

.submit{
    margin: 1em;
    width: 7em;
}

.order-sub{
    margin: 1em;

}

input:focus {
    outline: none;
}

.search-input{
    margin: 13.3px;
    font-size: small;
}

input:hover {
    border:#c2a6a2 1px solid;
}

input::placeholder {
    text-indent: 0.5rem;
}

form {
    display: contents;
}

.search {
    margin-top: 1em;
    border-radius: 20%;
    background-color:white;
    width: 0;
    margin: 0.5em;
}

li:hover,
li:hover svg, 
li:hover a{
    color: #c2a6a2;
    stroke: #c2a6a2;  
}

.list{
    color:  black ;
}

a{
    display: contents;
    color:black ;
}

.container {
    display: flex;
}

section{
    margin-top: 1em;
    background-color:white;
    padding: 0;
    border-radius: 1em;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;      
}

h1{
    font-family:'helvetica neue 65 medium',Arial,sans-serif;
    font-size:xxx-large;   
}

.clear-cart.btn.btn-danger{
   display: contents;
   font-size: x-small;
   
}

.btn.btn-primary {
    font-size: medium;
    margin-top: 2px;
    width: 3em;
    margin-bottom: 0;
}

button {
    width: 22em;
    border: none;
    border-radius: 20em;
    margin-bottom: 1em;
    background-color:#e4e5e6;  
}

button:hover,
button:hover svg{
    stroke: #c2a6a2;
}

.loga {
    display: flex;
    line-height: .1;
    border-radius: 30em;
    font-size: 1.5em;
    margin: 0;
    padding:0;
    writing-mode: vertical-rl;
    height: 65px;
    background:#c2a6a2;
    color:white;
    pointer-events: none;
    margin: 0.5em;  
}

.order {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 3em;
}

.rubrik {
    position: sticky;
    top: 15em;
    margin-left: 0.5em;
}

.frontpic {
    display: flex;
    height: 470px;
    width: 375px;
}

.footer {
    position: static;
    display: flex;
    line-height: .1;
    margin-top: 10px;;
    padding: 0;
    bottom: 0em;
    font-size: small; 
    flex-direction: column;
    align-items: center; 
}

.cf {
    position: sticky;
    color: #F4F2ee ;
    display: flex;
    margin-left: 1em;
    padding: 0em;
    bottom: 14.3em;
    flex-direction:column;  
}

.paj {
    margin-bottom: .5em;
    width: 375px;
}

.cake {
    display: flex;
    height: 370px;
    width: 375px;
}

.section-shopping-basket{
    padding: 2em;
    margin: 2em;
}
.shopping-basket{
    display:contents;
}

.produkt{
    display: contents;
    justify-content: center;   
}

.btn{
    color: #000;
    background-color: white;
    border-color: #c2a6a2;
    border-radius: 20em;
    border-color: none;
}

.btn:hover{
    color: #c2a6a2;
    border-color:#c2a6a2 ;
    border-color: none;
}

.creampic{
    margin-top: 1em;
    width: 360px;
    height: 280px;
}

.minus-item.input-group-addon.btn.btn-primary{
    border-radius: 1em;
    border-color: #c2a6a2;
    background-color: #c2a6a2;
    height: 2.8em;
    width: 2em;
    margin-top: 10px;
    

}
.minus-item.input-group-addon.btn.btn-primary:hover{
    background-color:#dac4c1;
    border-color: #dac4c1;
}

.plus-item.input-group-addon.btn.btn-primary{
    border-radius: 1em;
    border-color: #c2a6a2;
    background-color: #c2a6a2;
    height: 2.8em;
    width: 2em;
    margin-top: 10px;
    

}
.plus-item.input-group-addon.btn.btn-primary:hover{
    background-color:#dac4c1;
    border-color: #dac4c1;
}
.item-count.form-control{
    padding: 0.1em;
    margin-top: 10px;
    width: 2.5em !important;
    height: 2.8em;
    
}

@media screen and (min-width:600px){
    .item-count.form-control{
        height: 2em; 
    }

}

@media screen and (min-width:600px){
    .cake {
        width: 100%;
        height: 100%;
        margin-right: 0;
    }
}


@media screen and (min-width:600px){
   .paj{
    width:450px ;
   }
}

@media screen and (min-width:600px) {
    .rubrik{
        position: sticky;
    }
}

@media screen and (min-width:600px) {
    .footer{    
    position:sticky;
    bottom: 0em;
    font-size: small;
    } 
}

@media screen and (min-width:600px) {
    .cf{    
    position:sticky;
    } 
}

@media screen and (min-width:600px) {
    img {
        width:480px; 
        height:320px;
    }
}

@media screen and (min-width:600px) {
    body {
        display:flex;
        align-items: center;
    }
}

@media screen and (min-width: 600px){
    nav{
        z-index: 1000;
        position: sticky;
        top: 0;
    }
}

@media screen and (min-width: 600px){
    .recept{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center; 
    }
}


@media screen and (min-width: 600px){
    .receptsection {
        transition: .2s;
    }
}

@media screen and (min-width: 600px){
    .receptsection:hover {
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transform: scale(1.1); 
    }
}

@media screen and (min-width: 600px){
    section {
        margin: 2em;
        width: 30em; 
    }
}


@media screen and (min-width: 600px){
    input {
        margin: 1em !important; /* reboot skriv över mina marginaler osv så därför jag använder improtent*/
        width: 250px;
        height:30px;
        margin: 0.5em;
    }
}

@media screen and (min-width: 600px) {
    li{
        display: flex;
        margin-left: 10em; 
    }
}

@media screen and (min-width: 600px) {
    ul{
        display:flex; 
    }
}

@media screen and (min-width:600px){
    .frontpic{
        display: flex;
        height: 100%;
        width: 100%;
    }
}

@media screen and (min-width:600px){
    button{
        width: 5em;
        cursor: pointer;
    }
}

@media screen and (min-width:600px){
    .order{
        padding: 1em;
        width: 60em;
    }
}

@media screen and (min-width:600px){
    .creampic{
        margin-top: 3em;
        width: 800px;
        height: 500px;
    }
}







